version: "3"

services:
  vibes_only_db:
    container_name: vibes_only_db
    image: postgres:13.4-alpine
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - vibes_only_db:/var/lib/postgresql/data

  vibes_only_api:
    container_name: vibes_only_api
    build: .
    command: ["python", "/app/manage.py", "runserver", "0:80"]
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - vibes_only_db
    volumes:
      - .:/app
      - /var/log/vo:/var/log/vo
      - /var/www/vo/backend/static:/app/vibes_only/static
    ports:
      - 9062:80
      - 8089:8089

  vibes_only_celery:
    container_name: vibes_only_celery
    build: .
    working_dir: /app
    command: ["celery", "-A", "vibes_only_backend", "worker", "-l", "info"]
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - .:/app
      - /var/log/vo:/var/log/vo
    depends_on:
      - vibes_only_db
      - vibes_only_redis

  vibes_only_push:
    container_name: vibes_only_push
    build: .
    working_dir: /app
    command: ["celery", "-A", "vibes_only_backend", "worker", "-l", "debug", "--concurrency", "1", "-Q", "user-tasks", "--without-gossip", "--without-mingle", "--without-heartbeat"]
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - .:/app
      - /var/log/vo/push:/var/log/vo
    depends_on:
      - vibes_only_db
      - vibes_only_redis

  vibes_only_beat:
    container_name: vibes_only_beat
    build: .
    working_dir: /app
    command: ["celery", "-A", "vibes_only_backend", "beat", "-l", "info"]
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - .:/app
      - /var/log/vo/beat:/var/log/vo
    depends_on:
      - vibes_only_db
      - vibes_only_redis

  vibes_only_redis:
    container_name: vibes_only_redis
    image: redis:6.2-alpine
    restart: unless-stopped
    volumes:
      - vibes_only_redis:/data

volumes:
  vibes_only_db:
  vibes_only_redis:
